
<div class="title">
    <h1>Editando Mensagem</h1>
</div>

<div class="create edit">
    <%= render 'form', message: @message %>
</div>

<div class="options">
    <%= link_to 'Show', @message %> |
    <%= link_to 'Back', messages_path %>
</div>
