<p id="notice"><%= notice %></p>

<div class="create">
    <div class="title">
        <%= image_tag 'message-icon' %>
        <h1>Mensagens</h1>
    </div>
    <%= render 'form', message: @message %>
</div>

<div id="messages">
    <%= render @messages %>
</div>

<br>
