<p id="notice"><%= notice %></p>

<h1>Messages</h1>


<%= render 'form', message: @message %>

<table id="messages">
  <thead>
    <tr>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @messages %>
  </tbody>
</table>

<br>
